<?xml version="1.0"?>
<config>
    <modules>
        <UnzerDirect_Payment>
            <version>3.5.8</version>
        </UnzerDirect_Payment>
    </modules>
    <global>
        <blocks>
            <unzerdirect_payment>
                <class>UnzerDirect_Payment_Block</class>
            </unzerdirect_payment>
        </blocks>
        <models>
            <unzerdirect_payment>
                <class>UnzerDirect_Payment_Model</class>
                <resourceModel>unzerdirect_payment_mysql4</resourceModel>
            </unzerdirect_payment>
            <unzerdirect_payment_mysql4>
                <class>UnzerDirect_Payment_Model_Mysql4</class>
                <entities>
                    <order_status>
                        <table>unzerdirect_payment_order_status</table>
                    </order_status>
                </entities>
            </unzerdirect_payment_mysql4>
        </models>
        <helpers>
            <unzerdirect_payment>
                <class>UnzerDirect_Payment_Helper</class>
            </unzerdirect_payment>
        </helpers>
        <template>
            <email>
                <unzerdirect_payment_link translate="label" module="wishlist">
                    <label>UnzerDirect Payment Link</label>
                    <file>unzerdirect_payment_link.html</file>
                    <type>html</type>
                </unzerdirect_payment_link>
            </email>
        </template>
        <events>
            <controller_action_postdispatch_checkout_onepage_savePayment>
                <observers>
                    <auto_register_payment>
                        <type>singleton</type>
                        <class>UnzerDirect_Payment_Model_Observer</class>
                        <method>autoRegisterState</method>
                    </auto_register_payment>
                </observers>
            </controller_action_postdispatch_checkout_onepage_savePayment>
            <checkout_type_onepage_save_order_after>
                <observers>
                    <module>
                        <type>singleton</type>
                        <class>UnzerDirect_Payment_Model_Observer</class>
                        <method>placeOrder</method>
                    </module>
                </observers>
            </checkout_type_onepage_save_order_after>
            <checkout_type_multishipping_create_orders_single>
                <observers>
                    <module>
                        <type>singleton</type>
                        <class>UnzerDirect_Payment_Model_Observer</class>
                        <method>placeOrder</method>
                    </module>
                </observers>
            </checkout_type_multishipping_create_orders_single>
            <sales_order_place_after>
                <observers>
                    <module>
                        <type>singleton</type>
                        <class>UnzerDirect_Payment_Model_Observer</class>
                        <method>saveOrder</method>
                    </module>
                </observers>
            </sales_order_place_after>
        </events>
        <resources>
            <unzerdirect_payment_setup>
                <setup>
                    <module>UnzerDirect_Payment</module>
                    <class>UnzerDirect_Payment_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </unzerdirect_payment_setup>
            <unzerdirect_payment_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </unzerdirect_payment_write>
            <unzerdirect_payment_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </unzerdirect_payment_read>
        </resources>
    </global>
    <frontend>
        <secure_url>
            <unzerdirect_payment_payment>/unzerdirect_payment/payment</unzerdirect_payment_payment>
        </secure_url>
        <routers>
            <unzerdirect_payment>
                <use>standard</use>
                <args>
                    <module>UnzerDirect_Payment</module>
                    <frontName>unzerdirect_payment</frontName>
                </args>
            </unzerdirect_payment>
        </routers>
        <translate>
            <modules>
                <UnzerDirect_Payment>
                    <files>
                        <default>UnzerDirect_Payment.csv</default>
                    </files>
                </UnzerDirect_Payment>
            </modules>
        </translate>
        <layout>
            <updates>
                <unzerdirect_payment>
                    <file>UnzerDirect_Payment.xml</file>
                </unzerdirect_payment>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <UnzerDirect_Payment after="Mage_Adminhtml">UnzerDirect_Payment_Adminhtml</UnzerDirect_Payment>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <UnzerDirect_Payment>
                    <files>
                        <default>UnzerDirect_Payment.csv</default>
                    </files>
                </UnzerDirect_Payment>
            </modules>
        </translate>
        <events>
            <adminhtml_block_html_before>
                <observers>
                    <unzerdirect_payment>
                        <class>unzerdirect_payment/observer</class>
                        <method>onBlockHtmlBefore</method>
                    </unzerdirect_payment>
                </observers>
            </adminhtml_block_html_before>
            <checkout_submit_all_after>
                <observers>
                    <unzerdirect_payment>
                        <class>unzerdirect_payment/observer</class>
                        <method>onCheckoutSubmitAllAfter</method>
                    </unzerdirect_payment>
                </observers>
            </checkout_submit_all_after>
        </events>
        <layout>
            <updates>
                <unzerdirect_payment>
                    <file>UnzerDirect_Payment.xml</file>
                </unzerdirect_payment>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <payment>
            <unzerdirect_payment>
                <model>unzerdirect_payment/method_payment</model>
                <title>Kortbetaling</title>
                <active>1</active>
                <testmode>0</testmode>
                <order_status>pending</order_status>
                <order_status_after_payment>processing</order_status_after_payment>
                <sort_order>1</sort_order>
                <agreementid>ENTER YOUR AGREEMENT ID HERE</agreementid>
                <cardtype>0</cardtype>
                <sendmailorderconfirmation>1</sendmailorderconfirmation>
                <sendmailorderconfirmationbefore>0</sendmailorderconfirmationbefore>
                <cardlogos>dankort,visa,mastercard,maestro</cardlogos>
                <handlestock>1</handlestock>
                <allowspecific>0</allowspecific>
                <instructions>Pay with your credit card</instructions>
                <instantcapture>0</instantcapture>
                <instantinvoice>0</instantinvoice>
                <transactionfee>0</transactionfee>
                <specifytransactionfee>0</specifytransactionfee>
            </unzerdirect_payment>
            <unzerdirect_klarna>
                <active>0</active>
                <model>unzerdirect_payment/method_klarna</model>
                <title>Klarna</title>
                <allowspecific>0</allowspecific>
                <instructions>Pay with Klarna</instructions>
            </unzerdirect_klarna>
            <unzerdirect_paypal>
                <active>0</active>
                <model>unzerdirect_payment/method_paypal</model>
                <title>Paypal</title>
                <allowspecific>0</allowspecific>
                <instructions>Pay with Paypal</instructions>
            </unzerdirect_paypal>
        </payment>
    </default>
</config>
